page-coursedetails {
   .course-title{
    
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    background: gray;
    font-size: 0.8em;
    
  }

  .course-duration{
   background: darkgray;
    padding: 5px;
   

  }

   .course-syllabus{
    background:#908f8f;
    padding : 5px;

   }

  .course-syllabus-details{
  

     background: rgba(169, 169, 169, 0.13);
   

  }


}
