page-timeline {
  
 .grid{
	
   color:#fff;
}
   


 .post-description{
	    font-family: "Roboto", "Helvetica Neue", sans-serif;
	        white-space: pre-wrap;
     min-height: 100px;
    max-height: 200px;
    overflow: hidden;
}


}
