<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="contrainer">
       <form name="registration" class="registration-form" [formGroup]="registartionForm" (ngSubmit)="saveAndNext(registartionForm.value)">
         <ion-list>

		  <ion-item>
		    <ion-label stacked>First Name</ion-label>
		    <ion-input type="text "  placeholder="Enter First name" [formControl]="registartionForm.controls['firstname']"></ion-input>
		    
		  </ion-item>
		   <span *ngIf="registartionForm.controls['firstname'].hasError('required') && registartionForm.controls['firstname'].touched" class="error">You must add an First name.</span>
          <ion-item>
		    <ion-label stacked>Last Name</ion-label>
		    <ion-input type="text"  placeholder="Enter Last name" [formControl]="registartionForm.controls['lastname']"></ion-input>
		  </ion-item>
		  <span *ngIf="registartionForm.controls['lastname'].hasError('required') && registartionForm.controls['lastname'].touched" class="error">You must add an Last name.</span>
		  <ion-item>
		      <ion-label stacked>Course</ion-label>
		    <ion-input type="text"  placeholder="Enter Course name" [formControl]="registartionForm.controls['course']"></ion-input>
		  </ion-item>
		  <span *ngIf="registartionForm.controls['course'].hasError('required') && registartionForm.controls['course'].touched" class="error">You must add an Course Name.</span>
		  <ion-item>
		    <ion-label stacked>Year of Passing</ion-label>
		    <ion-select   [formControl]="registartionForm.controls['yrsofpass']">
		    	 <ion-option *ngFor="let year of years" [value]="year">{{year}}</ion-option>
		    </ion-select >
		  </ion-item>
		  <span *ngIf="registartionForm.controls['yrsofpass'].hasError('required') && registartionForm.controls['yrsofpass'].touched" class="error">You must add an year of passing</span>
		   <ion-item>
		    <ion-label stacked>Mobile No</ion-label>
		    <ion-input type="number"  placeholder="Enter Mobile No" [formControl]="registartionForm.controls['mobile']"></ion-input>
		  </ion-item>
		  <span *ngIf="registartionForm.controls['mobile'].hasError('required') && registartionForm.controls['mobile'].touched" class="error">You must add an Mobile Number.</span>
		  <ion-item>
		    <ion-label stacked>Company Name </ion-label>
		    <ion-input type="text" placeholder="Enter Company Name" [formControl]="registartionForm.controls['companyname']"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label stacked>Designation</ion-label>
		    <ion-input type="text" placeholder="Enter Designation" [formControl]="registartionForm.controls['designation']" ></ion-input>
		  </ion-item>
		    
		 <div padding class="item-md"> 	 
         <button ion-button block color="dark" type="submit"  [disabled]="!registartionForm.valid"> Save and Next </button>
		 </div>
         
		</ion-list> 

        </form>
    
  </div>


</ion-content>
