// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


 .error {
    color: #FF0000;
    padding-left: 10%;
 }

 .scroll-content{

         background : url('../assets/img/comman_bg.png') no-repeat center;
         background-size: 100% 100%;
		}

 #menu .profile-image-container{

   height : 150px;
   padding : 0px;

 }
 
 .profile-pic{
  
   width:100px;
   height:100px;
   border-radius: 50%;
   float:left;

  margin-top: 36px;

 }

 #menu .toolbar-content{

  background: rgba(0, 0, 0, 0.71);
    height: 150px;
 }

  .profile-pic-image{
  
   border:3px solid black;
   width:100px;
   height:100px;
   border-radius: 50%;
   float:left;

  

 }

.user-details{
	    float: left;
     
  
    padding: 10px;
        margin-top: 60px;

} 
.user-name{
   
   font-weight:bolder;
   font-size:15px;
   color:#fff;	
   text-transform: capitalize;
   

}

.user-designation{
	font-weigth:normal;
   font-size:10px;
   color:#fbc0c0;	
    text-transform: capitalize;

}

#menu .toolbar-background {
 //background: url('../assets/img/namedLogo1.png') no-repeat center 100%;
   // background-color: rgba(0, 0, 0, 0.65);
    background-size: 100%;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    background-position: 4px 42px;
    filter: blur(4px)
}

#menu .toolbar-background img .coverpic{
 //background: url('../assets/img/namedLogo1.png') no-repeat center 100%;
   // background-color: rgba(0, 0, 0, 0.65);
    background-size: 100%;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    background-position: 4px 42px;
    filter: blur(4px);
    z-index: -10px;
}

.coverpic{

    z-index: -1;
    position: absolute;
    top: 0;
    background: cover;
    width: 100%;
    padding: none;
}

#menu .menu-item{
	
	    background-color: rgba(109, 109, 109, 0.36);

}

#menu .menu-item .item-inner{
	
	    border-bottom: 1px solid #000000;
}