page-forgotpassword {
  
  .forgot{

		    position: relative;
		    top: 100px;
		    margin: auto;
		    width: 90%;
		    text-align: center;
		}
  
  .email-field{
  border: 1px solid black;
    border-radius: 5px;

  }
}
