page-postjob {
  .segment-activated{

   background : black;
   color:white;

  }

 .item-md , .item-ios{

     background: rgba(255, 255, 255, 0.26);
   }

   ion-label[stacked], ion-label[floating] {
     color: white;
  }

 .error {
    color: #FF0000;
    padding-left: 10%;
 }

 .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #000;
}
}
